<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&display=swap" rel="stylesheet">
        <title>Image Processing API</title>
    </head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Image Processing API</a>
        </div>
      </nav>
    <main>
        <h2 class="m-4">Image Processing Features:</h2>
        <div class="mx-4">
            <section class="bg-clr">
                <form action="/resize/<%= image %>" method="get">
                    <div class="row w-50 mb-4">
                        <div class="col">
                          <input type="number" class="form-control" placeholder="Width" name="width" required>
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" placeholder="Height" name="height" required>
                        </div>
                        <button type="submit" class="col-2 btn btn-outline-secondary mx-5">Resize</button>
                    </div>
                </form>
                <form action="/crop/<%= image %>" method="get">
                    <div class="row mb-4 w-50">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="left" name="left" required>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="top" name="top" required>
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" placeholder="Width" name="width" required>
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" placeholder="Height" name="height" required>
                        </div>
                          <button type="submit" class="col-2 btn btn-outline-secondary mx-5">Crop</button>
                    </div>
                </form>
                <form action="/watermark/<%= image %>" method="get">
                    <div class="row mb-4 w-50">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="add watermark" name="watermark" optional>
                        </div>
                        <button type="submit" class="col-2 btn btn-outline-secondary mx-5">Add Watermark</button>
                    </div>
                </form>
                <a href="/download/<%= image %>" class="col-1 btn btn-primary mb-5" download>Download</a>
            </section>
            <aside>
                <img src="../uploads/<%= image %>" alt="image">
            </aside>
        </div>
    </main>
</body>
</html>